* {
    box-sizing: border-box
}

.navbar-nav.navbar-header {
    display: flex;
    align-items: center;
    gap: 1rem
}

.navbar-header .nav-item {
    font-weight: 600;
}
/*.navbar-header .nav-link {*/
/*    color: #000000 !important;*/
/*}*/

.navbar-header > .nav-item:hover {
    border-bottom: 1px solid #000;
}

#search {
    outline: none;
    border: none;
    display: inline-block
}

#search_bar {
    box-shadow: rgba(49, 51, 54, 0.47) 0 0 1px 0;
}

#burgundy {
    color: rgb(153, 40, 59)
}

#orange {
    color: orange
}

.navbar {
    box-shadow: rgba(29, 30, 34, 0.47) 0 0 3px 0;
    padding: .8rem 1rem;
}

#navbarColor {
}

.fa-search {
    font-size: 20px;
    margin-bottom: 3px;
    padding: 10px 20px 10px 10px;
}

.search-nav-item {
    height: 40px;
    display: flex;
    margin: 0 0 0 15rem;
    width: 350px;
    border-radius: 10px;
    padding-left: .8rem;
    cursor: text;
}

.search-nav-item > label {
    cursor: inherit;
}

header {
    padding: 100px 100px;
    margin-bottom: 20px;
}

.fa-user,
.fa-shopping-cart {
    font-size: 20px;
    padding: 4px
}

.form-group {
    margin-bottom: 5px
}

label {
    padding-left: 10px
}

.form-group:last-child {
    margin-bottom: 0
}

h6 {
    margin-bottom: 0px
}

#sort {
    outline: none;
    border: none
}

.card-body {
    padding: 8px
}

/*.sign {*/
/*    width: 25px;*/
/*    height: 25px*/
/*}*/

.discount {
    border: 1px solid orange;
    border-radius: 5px;
    width: 65px;
    position: absolute;
    top: 2%
}
