body {
  background: #f1f2f7;
}
a:hover {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}
a {
  color: #3b3b3b;
}
/*panel*/
.panel {
  border: none;
  box-shadow: none;
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
}

.panel-margin {
  margin-bottom: 20px;
}
.panel-heading {
  border-color: #eff2f7;
  font-size: 16px;
  font-weight: 300;
  margin-top: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}
.panel-title {
  color: #2a3542;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}

/*product list*/
.nav {
  display: flex;
  flex-direction: column;
}
.prod-cat li {
  margin: 4px 0;
}
.prod-cat-das {
  padding: 0 0 12px;
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: dashed 1px #ccc;
}
.prod-cat li a {
  padding: 5px 0;
  width: 100%;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}
.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: orange;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list .pro-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
  height: 220px;
}

.adtocart {
  background: orange;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  left: 40%;
  bottom: -20px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5a5a5a;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.product-list .price {
  color: orange;
  font-size: 15px;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}
.product_meta a,
.pro-price {
  color: orange;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}

.bootdey {
  display: flex;
  margin-top: 28px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.best-seller .card {
  width: 100%;
}
.best-seller .card-img-top {
  width: 100%;
  border-radius: 4px;
}
.best-seller .card .card-title {
  font-size: medium;
  font-weight: 600;
  margin: 0;
}
.best-seller .card .card-text {
  font-size: small;
  margin: 0;
}
.panel-body .pagination {
  margin: 0;
}
.panel-sort-by {
  display: flex;
  align-items: center;
}
.panel-sort-by .sort-item {
  margin-left: 16px;
  background-color: rgb(231, 231, 230);
  padding: 4px 12px;
  border-radius: 2px;
  cursor: pointer;
}

.panel-sort-by .active {
  background-color: orange;
  color: #fff;
}
.panel-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-pagination nav {
  padding: 0;
}

.pagination .page-link {
  color: orange;
}

.empty-product {
  background: #fff;
}
.empty-cart-cls {
  margin-top: 48px;
}

.disabled-link {
  pointer-events: none;
}

.normal-link {
  pointer-events: auto;
}

/* Sale css */
.badge-overlay {
  position: absolute;
  left: 0%;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
  -webkit-transition: width 1s ease, height 1s ease;
  -moz-transition: width 1s ease, height 1s ease;
  -o-transition: width 1s ease, height 1s ease;
  transition: width 0.4s ease, height 0.4s ease;
}

/* ================== Badge CSS ========================*/
.badge {
  margin: 0;
  padding: 0;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  background: #ed1b24;
}

.badge::before,
.badge::after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: inherit;
  min-width: 55px;
}

.badge::before {
  right: 100%;
}

.badge::after {
  left: 100%;
}

/* ================== Badge Position CSS ========================*/
.top-left {
  position: absolute;
  top: 0;
  left: 0;
  -ms-transform: translateX(-30%) translateY(0%) rotate(-45deg);
  -webkit-transform: translateX(-30%) translateY(0%) rotate(-45deg);
  transform: translateX(-30%) translateY(0%) rotate(-45deg);
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
  -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
  transform: translateX(30%) translateY(0%) rotate(45deg);
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  -ms-transform: translateX(-30%) translateY(0%) rotate(45deg);
  -webkit-transform: translateX(-30%) translateY(0%) rotate(45deg);
  transform: translateX(-30%) translateY(0%) rotate(45deg);
  -ms-transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  -ms-transform: translateX(30%) translateY(0%) rotate(-45deg);
  -webkit-transform: translateX(30%) translateY(0%) rotate(-45deg);
  transform: translateX(30%) translateY(0%) rotate(-45deg);
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.top-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.middle-full {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -ms-transform: translateX(0%) translateY(-50%) rotate(0deg);
  -webkit-transform: translateX(0%) translateY(-50%) rotate(0deg);
  transform: translateX(0%) translateY(-50%) rotate(0deg);
}

.bottom-full {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* ================== Badge color CSS ========================*/
.badge.orange {
  background: #fa7901;
}

#submit-filter {
  margin-top: 10px;
  width: 100%;
  border-radius: 4px;
  background: orange;
  color: #fff;
}

.casousel-container {
  width: 100%;
  background: #fff;
  margin: 0 24px 0;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #eee;
  color: #000000;
}
div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #828282;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover {
  color: #ffffff;
  background: #ffa07f;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
}
p::selection {
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
}
.form-control {
  color: #db5246;
}
section {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.bbb_background {
  background-color: #e0e0e0 !important;
}
.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height {
  height: 100%;
}
.super_container {
  width: 100%;
  overflow: hidden;
}
.prlx_parent {
  overflow: hidden;
}
.prlx {
  height: 130% !important;
}
.nopadding {
  padding: 0px !important;
}
.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
}
.button:hover {
  opacity: 0.8;
}
.trends {
  padding-top: 80px;
  padding-bottom: 80px;
}
.bbb_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(203, 225, 238, 0.3);
}
.bbb_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bbb_container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 40px;
}
.bbb_title {
  padding-right: 50px;
}
.bbb_text {
  margin-top: 17px;
}
.bbb_text p:last-child {
  margin-bottom: 0px;
}
.bbb_slider_nav {
  margin-top: 27px;
}
.bbb_nav {
  display: inline-block;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-right: 16px;
  background-color: #2d8ce4;
}
.bbb_nav:last-child {
  margin-right: 0px;
}
.bbb_nav i {
  line-height: 36px;
  color: #fff;
  font-size: 18px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.bbb_nav:hover i {
  color: #474747;
}
.bbb_item {
  background: #ffffff;
  border-radius: 1px;
  padding: 10px 24px;
  height: 320px;
}
.bbb_image {
  width: 100%;
  height: 212px;
}
.bbb_image img {
  width: auto !important;
  max-width: 100% !important;
}
.bbb_category a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.bbb_category a:hover {
  color: #0e8ce4;
}
.bbb_content {
  margin-top: 24px;
}
.bbb_name {
  float: left;
}
.bbb_name a {
  font-size: 16px;
  color: #000000;
}
.bbb_name a:hover {
  color: #0e8ce4;
}
.bbb_price {
  font-size: 16px;
  font-weight: 500;
  float: right;
}
.bbb_fav {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}
.bbb_fav.active {
  visibility: visible;
  opacity: 1;
}
.bbb_fav:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.bbb_item:hover .bbb_fav {
  visibility: visible;
  opacity: 1;
  top: 18px;
}
.bbb_fav i {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #cccccc;
  line-height: 36px;
  pointer-events: none;
  z-index: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.bbb_fav.active i {
  color: red;
}
.bbb_item:hover .bbb_fav {
  visibility: visible;
  opacity: 1;
}
.bbb_marks {
  position: absolute;
  left: 18px;
  top: 18px;
}
.bbb_mark {
  display: none;
  width: 36px;
  height: 36px;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}
.bbb_discount {
  background: #df3b3b;
}
.bbb_item.discount .bbb_discount,
.bbb_item.is_new .bbb_new {
  display: block;
}
.bbb_new {
  background: #0e8ce4;
}
@media only screen and (max-width: 991px) {
  .bbb_slider_container {
    margin-top: 15px;
  }
}
