<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user/auth}">
>
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<div layout:fragment="content" class="col-md-6 col-lg-7 d-flex align-items-center">
    <div class="card-body text-black">
        <form method="post" th:action="@{/signup}" th:object="${user}">
            <div class="d-flex align-items-center mb-3 pb-1">
                <!--                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>-->
                <p class="h1 fw-bold mb-0"><span style="color: rgb(153, 40, 59)">EC</span> <span
                        style="color: orange">Fullstack</span></p>
            </div>
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Tạo tài khoản mới</h5>
            <div class="d-flex justify-content-around">
                <div>
                    <div class="form-outline mb-4" style="height: 60px">
                        <input id="username"
                               name="username"
                               th:field="*{username}"
                               th:value="*{username}"
                               data-toggle="tooltip" data-placement="left"
                               placeholder="Username" type="username"
                               class="form-control form-control-lg mb-1"
                               th:classappend="${#fields.hasErrors('username')}? 'border-danger'"
                        />
                        <p th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></p>
                    </div>
                    <div class="form-outline mb-4" style="height: 60px">
                        <input placeholder="Password" type="password" id="password"
                               name="password"
                               th:field="*{password}"
                               th:value="*{password}"
                               class="form-control form-control-lg mb-1"
                               th:classappend="${#fields.hasErrors('password')}? 'border-danger'"
                        />
                        <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
                    </div>
                    <div class="form-outline mb-4" style="height: 60px">
                        <input placeholder="Confirm password" type="password" id="confirmPassword"
                               name="confirmPassword"
                               th:field="*{confirmPassword}"
                               th:value="*{confirmPassword}"
                               class="form-control form-control-lg mb-1"
                               th:classappend="${#fields.hasErrors('confirmPassword')}? 'border-danger'"
                        />
                        <p th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger" th:errors="*{confirmPassword}"></p>
                    </div>
                </div>
                <div>
                    <div class="form-outline mb-4" style="height: 60px">
                        <input id="fullname"
                               name="fullname"
                               th:field="*{fullname}"
                               th:value="*{fullname}"
                               data-toggle="tooltip" data-placement="left" title="Tooltip on left"
                               placeholder="Fullname" type="fullname"
                               class="form-control form-control-lg mb-1"
                               th:classappend="${#fields.hasErrors('fullname')}? 'border-danger'"
                        />
                        <p th:if="${#fields.hasErrors('fullname')}" class="text-danger" th:errors="*{username}"></p>
                    </div>
                    <div class="form-outline mb-4" style="height: 60px">
                        <input id="phone"
                               name="phone"
                               th:field="*{phone}"
                               th:value="*{phone}"
                               data-toggle="tooltip" data-placement="left" title="Tooltip on left"
                               placeholder="Phone" type="phone"
                               class="form-control form-control-lg mb-1"
                               th:classappend="${#fields.hasErrors('phone')}? 'border-danger'"
                        />
                        <p th:if="${#fields.hasErrors('fullname')}" class="text-danger" th:errors="*{username}"></p>
                    </div>
                    <div class="form-outline mb-4" style="height: 60px">
                        <input id="address"
                               name="address"
                               th:field="*{address}"
                               th:value="*{address}"
                               data-toggle="tooltip" data-placement="left" title="Tooltip on left"
                               placeholder="Address" type="address"
                               class="form-control form-control-lg mb-1"
                               th:classappend="${#fields.hasErrors('address')}? 'border-danger'"
                        />
                        <p th:if="${#fields.hasErrors('fullname')}" class="text-danger" th:errors="*{username}"></p>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                        <select name="gender" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option value="0" selected>Giới tính...</option>
                            <option value="0">Nam</option>
                            <option value="1">Nữ</option>
                            <option value="2">Khác</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="pt-1 mb-4">
                <button class="btn btn-dark btn-lg btn-block" type="submit">Đăng ký</button>
            </div>
            <a class="small text-muted" href="#">Quên mật khẩu?</a>
            <p class="" style="color: #393f81;">Đã có tài khoản?
                <a th:href="@{/login}" style="color: #393f81;">Đăng nhập để sử sụng</a></p>
        </form>

    </div>
</div>
</body>
</html>