<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="UTF-8" />
    <title>Header</title>
  </head>
  <body>
    <header th:fragment="header" class="header">
      <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom">
        <a class="navbar-brand ml-2 font-weight-bold" href="/"
          ><span id="burgundy">EC-</span><span id="orange">FullStack</span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor"
          aria-controls="navbarColor"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor">
          <ul class="navbar-nav">
            <li class="nav-item rounded bg-light search-nav-item">
              <form method="get" action="/search">
                <input
                  type="text"
                  id="search"
                  class="bg-light submit_on_enter"
                  placeholder="Search mac, LG, iphone..."
                  name="name"
                  th:value="${name}"
                /><span class="fa fa-search text-muted"></span>
              </form>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><span class="fa fa-user-o"></span
                ><span class="text">Login</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><span class="fa fa-shopping-cart"></span
                ><span class="text">Cart</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
