<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <title>Header</title>
</head>
<body>

<header th:fragment="header"
        class="navbar navbar-expand-sm navbar-light bg-white border-bottom sticky-top container-fluid"
        data-wow-delay=".1s"
>
    <a class="navbar-brand ml-2 font-weight-bold" th:href="@{/}">
        <span id="burgundy">EC-</span><span id="orange">FullStack</span>
    </a>
    <button class="navbar-toggler .btn" type="button" data-toggle="collapse" data-target="#navbarColor"
            aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor">
        <ul class="navbar-nav justify-content-between container-fluid">
            <form th:action="@{/search}" class="nav-item rounded-10 bg-light search-nav-item" id="search_bar">
                <input type="text" id="search" name="name" th:value="${name}" class="flex-fill bg-transparent"
                       placeholder="Search products">
                <label for="search" class="fa fa-search text-muted"></label>
            </form>
            <ul class="navbar-nav navbar-header">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">
                        <span class="text">Danh sách hóa đơn</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cart}">
                        <span class="text">Giỏ hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="text">Login</span>
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</header>


</body>
</html>