<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="vi"
>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<th:block th:fragment="confirm(id, title, content)">
    <div class="modal fade" th:id="${id}" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" th:text="${title}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 th:text="${content}"></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button th:data-target="${id}" id="cancel-order" type="button" class="btn btn-danger">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>