<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="vi"
>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="order_card bg-white card order-list shadow-sm overflow-hidden position-relative"
     th:fragment="order(id, product, totalProductNum, quantity, total, status, created_at)">
    <div class="p-3 d-flex flex-column align-items-lg-stretch text-dark">
        <div class="first-product d-flex">
            <img class="img-thumbnail" th:src="${product.thumbnail}" alt="first_product">
            <div class="product-desc flex-grow-1">
                <p style="line-height: 2.5em; font-size: 1.1em; font-weight: 500;"
                   class="text-nowrap text-truncate"
                   th:text="${product.name}"
                   th:title="${product.name}"></p>
                <p style="text-align: end">Số lượng: <span th:text="${quantity}"></span></p>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <p>Trong tổng số <span th:text="${totalProductNum}"></span> sản phẩm</p>
            <a th:href="@{/orders/{id}(id=${id})}">Xem chi tiết</a>
        </div>
        <div th:classappend="${status} == 0 ? 'pending' : (${status} == 1 ? 'accepted' : (${status} == 2 ? 'rejected' : (${status} == 3 ? 'cancelled' : (${status} == 4 ? 'shipping' : 'completed'))))"
             class="order_status position-absolute d-flex justify-content-center align-items-end pb-1 text-white font-weight-bolder">
            <th:block th:switch="${status}">
                <span th:case="'0'">Đang chờ</span>
                <span th:case="'1'">Đã xác nhận</span>
                <span th:case="'2'">Đã từ chối</span>
                <span th:case="'3'">Đã hủy</span>
                <span th:case="'4'">Đang giao</span>
                <span th:case="'5'">Giao thành công</span>
            </th:block>
        </div>
        <div class="d-flex justify-content-between border-top pt-4">
            <p class="text-gray"><span
                    class="text-black font-weight-bold">
                Thành tiền: </span><span
                    th:text="${#numbers.formatDecimal(total, 3, 'COMMA', 0, 'POINT') + ' vnđ'}"></span>
            </p>
            <i th:text="${created_at}"></i>
        </div>

    </div>
</div>
</body>
</html>