<html>
  <head>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link href="search.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="d-flex">
      <form class="card filter-card" action="/search" method="get">
        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Product name</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <div class="form-row">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="name"
                  th:value="*{name}"
                />
              </div>
            </div>
          </div>
        </article>

        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Range price</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Min</label>
                  <input
                    type="number"
                    step="100000"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="0 VND"
                    name="minPrice"
                    th:value="*{minPrice}"
                  />
                </div>
                <div class="form-group col-md-6 text-right">
                  <label>Max</label>
                  <input
                    type="number"
                    step="100000"
                    class="form-control"
                    placeholder="1,0000,000 VND"
                    name="maxPrice"
                    th:value="*{maxPrice}"
                  />
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Select categories</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <div
                class="custom-control custom-checkbox"
                th:each="category : ${categoryList}"
              >
                <span class="float-right badge badge-light round">52</span>
                <input
                  type="checkbox"
                  class="custom-control-input"
                  multiple="multiple"
                  th:name="${category.name}"
                />
                <label
                  class="custom-control-label"
                  for="Check1"
                  th:text="${category.name}"
                  >Samsung</label
                >
              </div>
            </div>
          </div>
        </article>

        <button type="submit" class="btn btn-primary btn-submit">Search</button>
      </form>

      <div class="container">
        <div>
          <h3 class="h3">Kết quả tìm kiếm</h3>
          <div class="row">
            <div class="col-md-3 col-sm-6" th:each="product : ${products}">
              <div class="product-grid2">
                <div class="product-image2">
                  <a href="#">
                    <img class="pic-1" th:src="${product.thumbnail}" />
                    <img class="pic-2" th:src="${product.thumbnail}" />
                  </a>
                  <ul class="social">
                    <li>
                      <a href="#" data-tip="Quick View"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-tip="Add to Wishlist"
                        ><i class="fa fa-shopping-bag"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" data-tip="Add to Cart"
                        ><i class="fa fa-shopping-cart"></i
                      ></a>
                    </li>
                  </ul>
                  <a class="add-to-cart" href="">Add to cart</a>
                </div>
                <div class="product-content">
                  <h3 class="title">
                    <a href="#" th:text="${product.name}"></a>
                  </h3>
                  <span class="price" th:text="${product.price}"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
