<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="wow fadeInUp text-center" data-wow-delay=".8s">
    <div class="mb-2">
        <small>
            © 2020 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank"
                                                                                   rel="noopener noreferrer"
                                                                                   href="https://azouaoui.netlify.com">
            Mohamed Azouaoui
        </a>
        </small>
    </div>
    <div>
        <a href="https://github.com/azouaoui-med" target="_blank">
            <img alt="GitHub followers"
                 src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social"/>
        </a>
        <a href="https://twitter.com/azouaoui_med" target="_blank">
            <img alt="Twitter Follow"
                 src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social"/>
        </a>
    </div>
</footer>
</body>
</html>
